body {
  font-family: "Inter", sans-serif !important;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 3px !important;
}
/* Track */
body::-webkit-scrollbar-track {
  background: #eeeeee !important;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #a7a6e7;
  /* border-radius: 5px; */
}
/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

*::-webkit-scrollbar {
  width: 2px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  /* border-radius: 5px; */
  background-color: #9eb9ab;
}

/* Handle */
*::-webkit-scrollbar-thumb:hover {
  /* border-radius: 5px; */
  background-color: #bbb;
}

.table::-webkit-scrollbar {
  height: 5px !important;
}
/* Track */
.table::-webkit-scrollbar-track {
  background: #eeeeee !important;
}

/* Handle */
.table::-webkit-scrollbar-thumb {
  background: #9ec2af;
  /* border-radius: 5px; */
}
/* Handle on hover */
.table::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
/* .rdt_TableCol{
  background-color: red;
} */
.table {
  /* border-bottom: 1px solid #818181; */
  border-radius: 0px !important;
}

.rdt_TableHeadRow {
  color: #212121;
  background-color: #f5f5f5;
  font-weight: 600;
  font-size: 16px;
  max-height: "44px";
  border-bottom: 1px solid #212121;
}

.rdt_TableRow {
  /* border-bottom: 1px solid #9d9d9d8c  !important; */
  /* border-left: 1px solid #9d9d9d8c  !important; */
}
.rdt_TableRow:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
.rdt_Pagination {
  border: none !important;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #e8eef340 !important;
  border-top: none !important;
  display: none !important;
}
#pagination-first-page,
#pagination-previous-page,
#pagination-next-page,
#pagination-last-page {
  color: #8b8b8b !important;
  fill: #8b8b8b !important;
}
#pagination-first-page:disabled,
#pagination-previous-page:disabled,
#pagination-next-page:disabled,
#pagination-last-page:disabled {
  opacity: 0.5 !important;
}
